:root{
  --primary-color: #3975B8;
  --secondary-color: #9BC31C;
  --third-color: #969696;
  --white-color: #ffffff;

  --primary-font: 'Roboto', sans-serif; 
}

body{
  font-family: var(--primary-font);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
