:root{
  --primary-color: #3975B8;
  --secondary-color: #9BC31C;
  --third-color: #969696;
  --text-gray-color: #4D4D4D;
  --white-color: #ffffff;
  --pirmary-light-color: #DFEAF7;

  --primary-font: 'Roboto', sans-serif; 
}

body{
  font-family: var(--primary-font);
}