.admin-login{
    .admin-images {
        background-color: #F9F9F9;
        .logo-img {
            width: 180px;
        }
    
        .login-img {
            width: 500px;
        }
    }

    .admin-form{
        .link{
            color: var(--primary-color);
            font-weight: bold;
        }
    }
}


